body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    padding-bottom: 0rem;
}

section {
    height: 400px;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 15rem;
    
    font-family: 'Anton', sansserif;
    background-image: linear-gradient(to right, gold, gold, yellow, white, yellow, gold, gold);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: brown;
    padding: 9vw 2vw 0vw 2vw;
    text-align: center;
    font-size: 8vw;
    
}

.photos {
    display: flex;
    justify-content: center;
}

    .photos img {
        width: 15vw;
        height: 18vh;
        margin: 5px;
    }

/* Define unique background images for each section */
#section1 {
    background-image: url('../images/background/bg5.jpg');
    width:100vw;
    height:100vh;
}

#section2 {
    background-image: url('../images/background/bg6.jpg');
    width: 100vw;
    height: 100vh;
}

#section3 {
    background-image: url('../images/background/bg7.jpg');
    width: 100vw;
    height: 100vh;
}

@media (min-width: 768px) and (max-width: 1023px) {
    h1 {
        font-size: 2.5rem;
    }
}

/* For screens 1024px and larger (desktop) */
@media (min-width: 1024px) {
    h1 {
        font-size: 3rem;
    }

    .popup-button {
        font-size: 1rem;
        padding: 10px 20px;
    }
}


